* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #31593f;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 100px;
    background: #e0e5d7;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    border-bottom: 4px solid #31593f;
}
header a img {
    width: 130px;
    height: 120px;
    position: relative;
    float: left;
    margin-top: 13px;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#31593f;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}


/* Servicios */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
    height: auto;
    padding-right: 30px;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #31593f;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.contenido-textos ul li{
    padding: 0px 0px 5px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(37, 110, 14, 0.507);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* SOMOS */
 
.somos p {
    font-weight: 300;
    position: relative;
    float: left;
    margin: 0px auto;
} 

/*  Seguridad */

.seguridad{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.seg-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.seg-ind{
    width: 28%;
    text-align: center;
}

.seg-ind img{
    width: 90%;
}
#barquilla{
    width: 80%;
    margin-left: 60px;
    float: right;
}


.seg-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #e0e5d7;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    border-top: 4px solid #31593f;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #31593f;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(116, 108, 108);
}
.content-foo a{
    color: rgb(97, 93, 93);
    font-weight: 1000;
}
.titulo-final{
    text-align: justify;
    font-size: 20px;
    color: #9e9797;
    /* float: right; */
    margin-right: 450px;
}
.pie img{
    display: inline-block;
    margin: auto;
    margin-left: 450px;
}
.pie{
    margin: 0 auto;
    margin-top: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*  Servicios apartados*/

.servi{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servi-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servi-ind{
    width: 28%;
    text-align: justify;
}

.servi-ind img{
    width: 100%;
}


.servi-ind p{
    font-weight: 300;
    text-align: center;
    font-size: 20px;
}
.titulo2 {
    color: #31593f;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.pantalla {
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    .seg-cont{
        justify-content: center;
        flex-direction: column;
    }

    .seg-ind{
        width: 100%;
        text-align: center;
    }

    .seg-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .seg-ind img{
        width: 90%;
    }
    .servi-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servi-ind{
        width: 100%;
        text-align: center;
    }

    .servi-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servi-ind img{
        width: 90%;
    }
    .pie{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .titulo-final{
        /* padding-left: 50px; */
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }
    .servicio-ind img{
        width: 95%;
        margin: auto;
        margin-left: 10px;
    }
    #barquilla{
        width: 95%;
        margin: auto;
        margin-left: 10px;
    }
    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
    .contenedor-sobre-nosotros img{
        margin-left: 50px;
    }
}